<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  function onSubmit(token) {
    document.getElementById('rjd-form').submit();
  }
</script>
<form class="mt-5 pd-1" action="{{ .Get "action" }}" method="POST" role="form" id="rjd-form">
  <div class="form-group mt-3 mb-3 text-start">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
  </div>
  <div class="form-group mt-3 mb-3 text-start">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="name" id="email" placeholder="Enter email">
  </div>
  <div class="form-group mt-3 mb-3 text-start">
    <label for="message">Message</label>
    <textarea class="form-control" name="message" id="message" placeholder="Enter a message"></textarea>
  </div>
  <!-- <button type="submit" class="mt-3 btn btn-primary">Submit</button> -->
  <button class="g-recaptcha mt-3 btn btn-primary" 
    type="submit"
    data-sitekey="6Lf9N0oiAAAAAHusP0PltYcTtRxk9ytAVg3SqkmP" 
    data-callback='onSubmit' 
    data-action='submit'>Submit</button>
</form>
